{% extends "base.html" %}

{% block head_title %} 
    Pages | {{ block.super}}
{% endblock head_title %} 

{% block content %}
<h1>Páginas</h1>
<a href="{% url 'pages:create' %}" class="btn btn-info" role="button">Criar</a>

<table class="table  table-sm table-striped">
<tbody>
    {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'pages:detail' pk=obj.id %}"><p>{{ obj.pretty_name }}</p></a></td>
        </tr>
    {% endfor %}
</tbody>
</table>



{% endblock content %}
